include ../../pug-mixins/pug-mixins.pug


-var html = ['HTML', 'html'];
-var css = ['CSS', 'css3'];
-var js = ['JavaScript', 'js'];
-var jquery = ['jQuery', 'jquery'];
-var vue = ['VueJS', 'vue'];
-var react = ['ReactJS', 'react'];
-var php = ['PHP', 'php'];

-var gulp = ['Gulp', 'gulp'];
-var webpack = ['WebPack', 'webpack'];
-var git = ['GIT', 'git'];
-var pg = ['PUG', 'pug'];
-var sass = ['SASS', 'sass'];
-var less = ['LESS', 'less'];

section.about
  .wrapper
    h2.h2-title Немного обо мне.
      span.comment Я люблю узнавать и применять что-то новое, поэтому список постоянно пополняется

    .skills
      h3.h3-title Мои навыки
      ul.items
        each skill in [html, css, js, jquery, vue, react, php]
          li.item
            +icon(skill[1])
            span= skill[0]
        li.item
          span и другие...

    .instruments
      h3.h3-title Мои помощники
      ul.items
        each instrument in [gulp, webpack, git]
          li.item
            +icon(instrument[1])
            span= instrument[0]
        li.item
          img(src="./img/svg/intermediate-svg/svg--pug.svg", alt="PUG", class="icon-svg")
          span= pg[0]
        li.item
          img(src="./img/svg/intermediate-svg/svg--less.svg", alt="Less", class="icon-svg")
          span= less[0]
        each instrument in [ sass]
          li.item
            +icon(instrument[1])
            span= instrument[0]
        li.item
          span и другие...
